# Скомпилированные файлы и каталоги
/target/

# Файлы журнала
**/*.log

# Настройки IDE (если используешь VS Code, IntelliJ и т.п.)
.idea/
.vscode/

.env

# Файлы системы
.DS_Store
Thumbs.db

# Файлы Cargo, которые не стоит коммитить
Cargo.lock

